h1{
  font-family: tf2build;
  font-size:20px;
  font-weight: border;
}

/* forum.html */

.container{
  margin: 20px;
  padding: 20px;
}

.subforum{
  margin-top: 20px;
}

.subforum-title{
  display: flex;
  text-align-last: center;
  text-justify: auto;
  justify-content: space-between;
  background-color: #24201B;
  color: #FFD700;
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
}

.subforum-desc *{
  margin-block: 0;
}

.subforum-row{
  display: grid;
  grid-template-columns: 10% 60% 10% 20%;
}

.subforum-column{
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: #24201B;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box input{
  font-family: tf2build, tf2secondary, Verdana;
  padding: 6px;
  border-radius: 5px;
  background-color:#EBE2CA;
  border-color: #756B5E;
}

.search-box button{
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background-color:#EBE2CA;
  border-color: #756B5E;
}

.search-box button:hover{
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background-color:#EBE2CA;
  border-color: #EBE2CA;
}