@font-face 
{
	font-family: tf2build; src: url('tf2build.ttf'); 
}
@font-face 
{
	font-family: tf2secondary; src: url('TF2secondary.ttf'); 
}

*{
  box-sizing: border-box;  
}

html{
  font-size:18px;
  font-family: "tf2secondary", "tf2build", "sans-serif";
}

a{
    color: #EBE2CA;
    font-weight: border;
    text-decoration: none;
}

a:hover+table {
  display: block;
}

.NavBar
{
  margin-left: 25%;
  margin-right: 25%;
  border: 0.5vw solid #3D352D;
  background-color: #3D352D;
  border-radius: 1vw;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  justify-content: center;
  align-content:center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 20% 25% 33%;
}

.inventory-grid 
{
  display: grid;
  grid-template-columns: repeat(4, 8.5vw);
  gap: 10px;
  width: fit-content;
  align-self: center;
}

.playerInv
{
	display: flex;
	color:#EBE2CA;
	font-family: "tf2build", arial;
	align-self: center;
  size-adjust: inherit;
  font-size: 2.5vw;
	
	margin-top: 1%;
  margin-bottom: 2%;
}

#inventory-wrapper
{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.slot 
{
  width: 8.5vw;
  height: 8.5vw;
  border: 4px solid #FFD700;
  object-fit: contain;
  border-radius: 7px;
  border-collapse: separate;
  justify-content: center;
  align-items: center;
  background-color: #3D352D;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
}

.slot img
{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}

.empty
{
  border: 0.35vw solid #3D352D;
  background-color: #3D352D;
  border-radius: 7px;
  border-collapse: separate;
  position: relative;
  display: table;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 0;
}

.item-quantity 
{
  position: absolute;
  font-family: "tf2build", "tf2build", "sans-serif";
  top: 1%;
  left: 1%;
  font-size: 1.67vw;
  color: #99CCFF;
  padding: 2px 4px;
  border-radius: 4px;
}

.invPage
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0.35vw solid #3D352D;
  background-color: #3D352D;
  border-radius: 7px;
  font-size: 3vw;
  border-collapse: separate;
  align-items: center;
  width: 5vw;
  height: 5vw;
  margin: 5px;
}

.invPage:enabled:hover
{
  display: flex;
  flex-direction: row;
  border: 0.35vw solid #EBE2CA;
  background-color: #EBE2CA;
  border-radius: 7px;
  border-collapse: separate;
}
.invPage img
{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
#pageBar
{
  display: flex;
  flex-direction: row;

  color: #EBE2CA;
  justify-content: center;
  align-content:center;
  align-items: center;
  font-size:18px;
  text-align: center;
  font-family: "tf2build", "tf2build", "sans-serif";
}

.workshop
{
  position: absolute;
  display: none;
  align-self: flex-end;
  background: none;
  border-style: hidden;

  margin-top: 1%;
  margin-right: 1%;
  width: 4vw;
  height: 4vw;
}

.workshop-img
{
  filter: brightness(20%) sepia(100%) saturate(100%);
}
.workshop-img:hover
{
  cursor: pointer;
  filter: brightness(40%) sepia(100%) saturate(100%);
}

#inventory-display
{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 45%;
  margin-top: 3%;
  margin-right: 3%;
  border: 0.35vw solid #756B5E;
  border-radius: 20px;
  background-color: #24201B;
}

.item
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 18vw;
  height: 14vw;
  border: 0.35vw solid #0B0908;
  border-radius: 10px;
  background-color: #0B0908;
}
.item img
{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}

.equipbutton
{
  color: #EBE2CA;
  font-family: tf2build;
  text-align: center;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 0.35vw solid #756B5E;
  border-radius: 10px;
  background-color: #756B5E;
}
.equipbutton:enabled:hover
{
  background-color: #EBE2CA;
  border-color: #EBE2CA;
  color: #756B5E;
}

.itemlist
{
  color: #B2B2B2;
  display: flow-root;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 42vw;
  height: 60%;
  max-height: 60%;
  border: 0.35vw solid #0B0908;
  border-radius: 10px;
  background-color: #0B0908;
  font-size: 2vw;
  font-family: "tf2secondary";
}

.itemStats {
  max-height: 200vw; /* adjust as needed */
  max-width: 42vw;
  overflow-y: auto;
  padding: 5px;
  font-family: "tf2secondary";
  margin-top: 0%;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.Normal 
{
  border: 4px solid #B2B2B2;
}
.Unique 
{
  border: 4px solid #FFD700;
}
.Vintage 
{
  border: 4px solid #476291;
}
.Genuine 
{
  border: 4px solid #4D7455;
}
.Strange 
{
  border: 4px solid #CF6A32;
}
.Unusual 
{
  border: 4px solid #8650AC;
}
.Haunted 
{
  border: 4px solid #38F3AB;
}
.Collectors 
{
  border: 4px solid #AA0000;
}
.Community 
{
  border: 4px solid #70B04A;
}
.Valve 
{
  border: 4px solid #A50F79;
}