@font-face 
{
	font-family: tf2build; src: url('tf2build.ttf'); 
}
@font-face 
{
	font-family: tf2secondary; src: url('TF2secondary.ttf'); 
}

*{
  box-sizing: border-box;  
}

html{
  font-size:18px;
  font-family: "tf2secondary", "tf2build", "sans-serif";
}

a{
    color: #EBE2CA;
    font-weight: border;
    text-decoration: none;
}

.empty
{
  border: 0.35vw solid #3D352D;
  background-color: #3D352D;
  border-radius: 0.5vw;
  border-collapse: separate;
  position: relative;
  display: table;
  margin-left: 0px;
  margin-right: 0px;
  z-index: unset;
}

.item
{
  border: 0.35vw solid #FFD700;
  background-color: #3D352D;
  border-radius: 0.5vw;
  border-collapse: separate;
  position: relative;
  display: table;
  margin-left: 0px;
  margin-right: 0px;
  z-index: unset;
}

.item:hover{
  background-color: #5e5348;
}

a:hover+table {
  display: block;
}

.stickyimageleft
{
  object-fit: contain;
  border: 0.35vw solid #FFD700;
  background-color: #24201B;
  border-radius: 0.75vw;
  border-collapse: separate;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 40vw;
  height: 40vw;
  left: 90%;
  right: auto;
  bottom: -300%;
  z-index: 99;
  transition-duration: 0.1s;
}
.item:hover .stickyimageleft
{
  opacity: 1;
}
.item:not(hover) .stickyimageleft
{
  opacity: 0;
}

.stickyimageright
{
  object-fit: contain;
  border: 0.35vw solid #FFD700;
  background-color: #24201B;
  border-radius: 0.75vw;
  border-collapse: separate;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 40vw;
  height: 40vw;
  left: auto;
  right: 200%;
  bottom: -300%;
  z-index: 99;
  transition-duration: 0.1s;
}
.item:hover .stickyimageright
{
  opacity: 1;
  z-index: 1000;
}
.item:not(hover) .stickyimageright
{
  opacity: 0;
}

.NavBar
{
  margin-left: 25%;
  margin-right: 25%;
  border: 0.35vw solid #756B5E;
  background-color: #756B5E;
  border-radius: 5%;
  justify-content: center;
  align-content:center;
  align-items: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}