@font-face 
{
	font-family: tf2build; src: url('tf2build.ttf'); 
}
@font-face 
{
	font-family: tf2secondary; src: url('TF2secondary.ttf'); 
}

.empty
{
  border: 0.35vw solid #3D352D;
  background-color: #3D352D;
  border-radius: 0.5vw;
  border-collapse: separate;
  position: relative;
  display: table;
  margin-left: 0px;
  margin-right: 0px;
  z-index: unset;
}

.item
{
  border: 0.35vw solid #FFD700;
  background-color: #3D352D;
  border-radius: 0.5vw;
  border-collapse: separate;
  position: relative;
  display: table;
  margin-left: 0px;
  margin-right: 0px;
  z-index: unset;
}

a:hover+table {
  display: block;
}

.stickyimageleft
{
  object-fit: contain;
  border: 0.35vw solid #FFD700;
  background-color: #24201B;
  border-radius: 0.75vw;
  border-collapse: separate;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 40vw;
  height: 40vw;
  left: 90%;
  right: auto;
  bottom: -300%;
  z-index: 99;
  transition-duration: 0.1s;
}
.item:hover .stickyimageleft
{
  opacity: 1;
}
.item:not(hover) .stickyimageleft
{
  opacity: 0;
}

.stickyimageright
{
  object-fit: contain;
  border: 0.35vw solid #FFD700;
  background-color: #24201B;
  border-radius: 0.75vw;
  border-collapse: separate;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 40vw;
  height: 40vw;
  left: auto;
  right: 200%;
  bottom: -300%;
  z-index: 99;
  transition-duration: 0.1s;
}
.item:hover .stickyimageright
{
  opacity: 1;
  z-index: 1000;
}
.item:not(hover) .stickyimageright
{
  opacity: 0;
}